################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Metrics.Demo.Api/bin
/Metrics.Demo.Api/obj
